
activy-spring/.classpath

activy-spring/.project

activy-spring/.settings/.jsdtscope

*.prefs

*.component

activy-spring/.settings/org.eclipse.wst.common.project.facet.core.xml

activy-spring/.settings/org.eclipse.wst.jsdt.ui.superType.container

activy-spring/.settings/org.eclipse.wst.jsdt.ui.superType.name
